<div class="contenedor">
    <h2 class="contenedor-2">Experiencia</h2>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <td rowspan="4">
                    <img src="../../../assets/pizzaron.jpg" alt="">
                </td>
                <tr *ngFor="let Experiencia of expe">
                    
                    <td style="vertical-align: middle;">
                        <h4>{{Experiencia.nombreE}}</h4>
                    </td>
                    <td  style="vertical-align: middle;">{{Experiencia.periodoE}}</td>
                    <td  style="vertical-align: middle;">{{Experiencia.descripcionE}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-square"></i>Editar</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash3-fill"></i>Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<br>