<div class="row">
    <h1>Hars & Sorf skills</h1>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="80"
            [title]="'HTML'"
            [titleColor]="'white'"
            [titleFontSize]="'3em'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'green'"
            [innerStrokeColor]="'orange'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="80"
            [title]="'CSS'"
            [titleColor]="'white'"
            [titleFontSize]="'3em'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'green'"
            [innerStrokeColor]="'orange'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="80"
            [title]="'JS'"
            [titleColor]="'white'"
            [titleFontSize]="'3em'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'green'"
            [innerStrokeColor]="'orange'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="80"
            [title]="'GitHub'"
            [titleColor]="'white'"
            [titleFontSize]="'3em'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'green'"
            [innerStrokeColor]="'orange'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="80"
            [title]="'algo'"
            [titleColor]="'white'"
            [titleFontSize]="'3em'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'green'"
            [innerStrokeColor]="'orange'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="80"
            [title]="'otro algo'"
            [titleColor]="'white'"
            [titleFontSize]="'3em'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'green'"
            [innerStrokeColor]="'orange'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
</div>