.banner{
    position:relative;
    width: 100%;
    height: calc(100vh - 25px);
    background-color: gray;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url(../../../assets/img1.jpeg);
    animation: banner 21s infinite linear;

}

@keyframes banner {
    0%{
        background-image: url(../../../assets/img1.jpeg);
    }
    30%{
        background-image: url(../../../assets/img1.jpeg);
    }
    31%{
        background-image: url(../../../assets/img2.jpeg);
    }
    60%{
        background-image: url(../../../assets/img2.jpeg);
    }
    61%{
        background-image: url(../../../assets/img3.jpeg);
    }
    100%{
        background-image: url(../../../assets/img3.jpeg);
    }

}