<div class="row">
    <div class="container">
        <div class="logo">
            <a href="https://argentinaprograma.inti.gob.ar/"><img src="../../../assets/Logo Arg Prog.jpg" id="logoAP"></a>
        </div>
        <div class="redes">
            <a href="https://web.whatsapp.com/"><img src="../../../assets/WhatsApp.jpg" id="WhatsApp"></a>
            <a href="https://github.com/LauraMaldonado86"><img src="../../../assets/GitHub.png" id="GitHub"></a>
            <a href="https://www.instagram.com/"><img src="../../../assets/Instagram.png" id="Instagram"></a>
            <a href="https://www.linkedin.com/"><img src="../../../assets/Linkedin.png" id="Linkedin"></a>
            <button type="button" class="btn btn-outline-light" (click)='login()'*ngIf="!isLogged">Ingreso</button>
            <button type="button" class="btn btn-outline-light" (click)='onLogOut()'*ngIf="isLogged">Cerrar Sesion</button>
        </div>
    </div>
</div>
