.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes{
    margin-right:1.5em ;
}
#logoAP{
    width: 150px;
}

img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    padding: 0.5em;
    overflow: hidden;
}

.btn{
    border-width: medium;
}
